<label class="form-label">
  <span *ngIf="isRequired" class="text-danger"><i class="fa fa-asterisk"></i></span>
  {{elementState.title}}
</label>

<ng-select [items]="elementState.items"
           [virtualScroll]="true"
           [loading]="loading"
           bindLabel="code"
           bindValue="code"
           (scroll)="onScroll($event)"
           (scrollToEnd)="onScrollToEnd()"
           [placeholder]="elementState.placeholder"
           [formControl]="beeRFC"
           [searchFn]="onSearch"
           [ngClass]="{
            'is-valid': beeRFC.valid && (beeForm.submitted || beeRFC.dirty || beeRFC.touched),
            'is-invalid': beeRFC.invalid && (beeForm.submitted || beeRFC.dirty || beeRFC.touched)
          }"
>
  <ng-template ng-header-tmp>
    <small class="form-text text-muted">Loaded {{elementState.items.length}} of {{totalRecord}}</small>
  </ng-template>
  <ng-template ng-option-tmp let-item="item" let-index="index">
    <b><i class="{{item.code}}" ></i> </b> {{item.type}} <> {{item.code}}
  </ng-template>
</ng-select>
<bee-validate-error-msg [title]="elementState.title" [validateFormControl]="beeRFC" [validateForm]="beeForm"></bee-validate-error-msg>
