<h4 class="font-weight-bold py-3 mb-4 layui-form">
  <input id="shijian" />
  <span class="text-muted font-weight-light">Bee Framework/</span> Data <button (click)="success()">提示框</button>

  <div class="layui-form-item">
    <label class="layui-form-label">复选框</label>
    <div class="layui-input-block">
      <input type="checkbox" name="like[write]" title="写作">
      <input type="checkbox" name="like[read]" title="阅读" checked>
      <input type="checkbox" name="like[dai]" title="发呆">
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">开关</label>
    <div class="layui-input-block">
      <input type="checkbox" name="switch" lay-skin="switch">
    </div>
  </div>
</h4>



<div class="card">
  <div id="table1"></div>

</div>

<ag-grid-angular
  style="width: 100%; height: 500px;"
  class="ag-theme-alpine"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  enableColResize="true"

>
</ag-grid-angular>



