<label class="form-label">
  <span *ngIf="isRequired" class="text-danger"><i class="fa fa-asterisk"></i></span>
  {{elementState.title}}
</label>
<ng-select
  [items]="elementState.items"
  [bindLabel]="elementState.bindLabel"
  [bindValue]="elementState.bindValue"
  [placeholder]="elementState.placeholder"
  [formControl]="beeRFC"
  [ngClass]="{
  'is-valid': beeRFC.valid && (beeForm.submitted || beeRFC.dirty || beeRFC.touched),
  'is-invalid': beeRFC.invalid && (beeForm.submitted || beeRFC.dirty || beeRFC.touched)
  }"
>
</ng-select>
<bee-validate-error-msg [title]="elementState.title" [validateFormControl]="beeRFC" [validateForm]="beeForm"></bee-validate-error-msg>
